<p>personagens-page works!</p>

<style>
    .vermelho{
        background-color: red;
    }
    .amarelo{
        background-color: yellow;
    }
    .azul{
        background-color: lightblue;
    }
    .laranja{
        background-color: orange;
    }
    .verde{
        background-color: lightgreen;
    }
    .rosa{
        background-color: lightpink;
    }
</style>

<table border="1">
    <colgroup>
        <col class="vermelho">
        <col class="amarelo">
        <col class="azul">
        <col class="laranja">
        <col class="verde">
        <col class="rosa">
      </colgroup>
    <tr>
      <th>NOME</th>
      <th>TIPO</th>
      <th>STATUS</th>
      <th>ESPÉCIE</th>
      <th>GÊNERO</th>
      <th>ORIGEM</th>
    </tr>
    <tr>
      <td>Rick Sanchez</td>
      <td>Desconhecido</td>
      <td>Vivo</td>
      <td>Humano</td>
      <td>Masculino</td>
      <td>Terra (C-137)</td>
    </tr>
    <tr>
        <td>Morty Smith</td>
        <td>Desconhecido</td>
        <td>Vivo</td>
        <td>Humano</td>
        <td>Masculino</td>
        <td>Desconhecido</td>
    </tr>
    <tr>
        <td>Summer Smith</td>
        <td>Desconhecido</td>
        <td>Viva</td>
        <td>Humano</td>
        <td>Feminino</td>
        <td>Terra (Dimensão de Substituição)</td>
    </tr>
    <tr>
        <td>Beth Smith</td>
        <td>Desconhecido</td>
        <td>Viva</td>
        <td>Humano</td>
        <td>Feminino</td>
        <td>Terra (Dimensão de Substituição)</td>
    </tr>
    <tr>
        <td>Jerry Smith</td>
        <td>Desconhecido</td>
        <td>Vivo</td>
        <td>Humano</td>
        <td>Masculino</td>
        <td>Terra (Dimensão de Substituição)</td>
    </tr>
  </table>